.mapboxgl-popup {
	width: 301px;
	transform: translate(10px 10px);
}

.info-wrap {
	width: 291px;

	h5 {
		margin-bottom: 20px;
	}
	.view-store {
		display: flex;
		justify-content: center;
		background: #000;
		color: #fff;
		padding: 10px;
		font-size: 15px;
	}
}
