.location-wrap {
	padding: 20px 50px;
	width: 100%;
	cursor: pointer;
	border-bottom: 1px solid rgb(196, 196, 196);
	transition: all 0.3s;

	&:focus {
		background: #000;
		outline: none;
		h2 {
			color: var(--sec-text-color);
		}
		.info {
			.hours-wrap {
				h4 {
					color: #fff;
				}
				.hours {
					&.open {
						background: #fff;
						color: var(--main-text-color);
					}
				}
			}
		}
	}
	.info {
		max-width: 400px;
		width: 100%;
		.hours-wrap {
			display: flex;
			max-width: 280px;
			align-items: center;
			font-size: 13px;
			justify-content: space-between;
			span {
				font-size: 12px;
			}
			.hours {
				background: #a2a2a2;
				color: #fff;
				padding: 3px 10px;
				text-transform: uppercase;
				font-weight: 600;
				&.open {
					background: var(--sec-text-color);
					color: var(--main-text-color);
				}
			}
		}
	}
	@media (max-width: 768px) {
		padding: 10px 30px;
		.info {
			.hours-wrap {
				max-width: 400px;
			}
		}
	}
}
