@import url("https://fonts.googleapis.com/css?family=Chakra+Petch:400,600&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Chakra Petch", sans-serif;
}

:root {
	--main-text-color: #1b1064;
	--sec-text-color: #1cfec2;
}

body {
	overflow: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
	color: var(--main-text-color);
}
h2 {
	font-size: 22px;
	@media (max-width: 768px) {
		font-size: 16px;
	}
}
h3 {
	font-size: 18px;
	@media (max-width: 480px) {
		font-size: 14px;
	}
}
h4 {
	font-weight: 300;
}
h5 {
	@media (max-width: 480px) {
		font-size: 12px;
	}
}
img {
	width: 100%;
}
button {
	border: none;
	margin: 0;
	padding: 0;
	color: #000;
	cursor: pointer;
	&:focus {
		outline: 1px solid var(--sec-text-color);
	}
	&:hover {
		color: rgb(99, 99, 99);
	}
}

.layout {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	height: 100vh;
	overflow: hidden;
	.locations-wrap {
		width: 50vw;
		height: 100%;
		overflow-y: scroll;
		position: relative;
	}
	@media (max-width: 480px) {
		flex-direction: column;
		.locations-wrap {
			width: 100vw;
		}
	}
}

.location-name {
	margin-bottom: 10px;
}
h5 {
	font-weight: 300;
}

//mapbox classes

.mapboxgl-ctrl-group {
	max-width: 26px;
	width: 100%;
	button {
		width: 26px;
		height: 26px;
	}
	.mapboxgl-ctrl-geolocate {
		display: none;
	}

	.mapboxgl-ctrl-compass {
		display: none;
	}
}
